.root {
  border-radius: 5px;
  overflow: hidden;
}

.controls {
  padding: 15px 20px;
  background-color: var(--el-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color-items);
  @media (max-width: 574px) {
    & > div {
      & > ul {
        display: none;
      }
    }
  }
}

.button {
  cursor: pointer;
  &:hover {
    color: var(--bright-blue);
  }
  &:active {
    color: inherit;
  }
  &:disabled {
    color: inherit;
    cursor: default;
  }
}
